@using CEAE.Utils
@using AuthenticationManager = CEAE.Managers.AuthenticationManager
@if (Convert.ToBoolean(Session[Constants.Session.UserIsAuthenticated]))
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello, " + AuthenticationManager.UserAccount(Session) + "!", "ManageAccount", "Account", null, new {title = "Manage"})
        </li>
        <li>
            @Html.ActionLink(Translations.Logout, "LogOut", "Account")
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Translations.Register, "Register", "Account", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink(Translations.Login, "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>
}