@using CEAE.Utils
@using AuthenticationManager = CEAE.Managers.AuthenticationManager
@if (Convert.ToBoolean(Session[Constants.Session.UserIsAuthenticated]))
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello, " + AuthenticationManager.UserAccount(Session) + "!", "ManageAccount", "Account", null, new {title = "Manage"})
        </li>
        <li>
            @Html.ActionLink("Log off", "LogOut", "Account", null)
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>
}