body { margin-left: 20px; }

h4 {
    margin-left: 40px;
    margin-top: 10px;
}

table { }

input, select, button {
    margin-right: 50px;
    padding-bottom: 5px;
    padding-right: 40px;
    padding-top: 5px;
}

.btn-default {
    margin-left: 20px;
    margin-right: -20px;
    margin-top: 20px;
}

.answerContainer {
    
    padding: 5px 10px;
    text-align: center;
}