body { margin-left: 20px; }

h2 {
    margin-bottom: 60px;
    margin-top: 20px;
}

.btn-ssuccess {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #333333;
    margin-bottom: 20px;
}

.btn-ssuccess:hover,
.btn-ssuccess:focus,
.btn-ssuccess:active,
.btn-ssuccess.active,
.open .dropdown-toggle.btn-ssuccess {
    background-color: #47a447;
    border-color: #398439;
    color: #ffffff;
}