body {
    margin-left:20px;
}

h2 {
    margin-top:20px;
    margin-bottom:60px;
}
.btn-ssuccess {
    margin-bottom:20px;
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}
.btn-ssuccess:hover,
.btn-ssuccess:focus,
.btn-ssuccess:active,
.btn-ssuccess.active,
.open .dropdown-toggle.btn-ssuccess {
    color: #ffffff;
    background-color: #47a447;
    border-color: #398439;
}