body {
    margin-left:20px;
}
h4 {
    margin-left: 40px;
    margin-top: 10px;
}
table {
}
input, select, button {
    padding-right: 40px;
    margin-right:50px;
    padding-bottom:5px;
    padding-top:5px;

}
.btn-default {
margin-top:20px;
margin-left:20px;
margin-right:-20px;

}

.answerContainer{
    
    text-align:center;
    padding:5px 10px;
}