/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption { z-index: 10; }

/* Declare heights because of positioning of img element */

.carousel .item {
    background-color: #777;
    height: 500px;
}

.carousel-inner > .item > img {
    height: 500px;
    left: 0;
    max-width: 100%;
    position: absolute;
    top: 0;
}

img {
    height: 500px;
    /*object-fit: contain;*/
    object-fit: cover;
    width: 1920px;
}

/************************************************************************/

h1 {
    color: steelblue;
    font-family: 'Luckiest Guy';
    margin-top: 30px;
}