body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

body { background-color: lightgray; }

li { list-style-type: none; }

.answer {

  
    font-size: 25px;
    margin: 2px;
    padding: 2px;
}


.question {
  
  
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}

.question-container {
  
    border: 10px;
    height: 300px;
    margin-left: 100px;
}

.radiobutt {
    margin: 10px;
    padding: 10px;
}

.custom-standard-button { border: 5px double; }

.question input[type='radio'] { margin-right: 5px; }


.sec-title-huge {
    color: #333333;
    font-size: 30px;
    font-weight: 500;
}

.sec-title-large {
    color: #555555;
    font-size: 24px;
    font-weight: 500;
}

.sec-title-medium {
    color: #555555;
    font-size: 18px;
    margin-left: 5px;
}

.sec-title-small {
    color: #7e858c;
    font-size: 16px;
    margin-left: 10px;
}

.sec-title-italic { font-style: italic; }

.sec-hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

.quiz-status img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}