body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

body { background-color: lightgray; }

li { list-style-type: none; }

.answer {

  
    font-size: 25px;
    margin: 2px;
    padding: 2px;
}


.question {
  
  
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}

.question-container {
  
    border: 10px;
    height: 300px;
    margin-left: 100px;
}

.radiobutt {
    margin: 10px;
    padding: 10px;
}

.custom-standard-button { border: 5px double; }

.question input[type='radio'] { margin-right: 5px; }


.sec-title-huge {
    color: #333333;
    font-size: 30px;
    font-weight: 500;
}

.sec-title-large {
    color: #555555;
    font-size: 24px;
    font-weight: 500;
}

.sec-title-medium {
    color: #555555;
    font-size: 18px;
    margin-left: 5px;
}

.sec-title-small {
    color: #7e858c;
    font-size: 16px;
    margin-left: 10px;
}

.sec-title-italic { font-style: italic; }

.sec-hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

.quiz-status img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

footer {
    background-color: #222222;
    bottom: 0;
    color: white;
    font-weight: bold;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
    text-align: center;
}

div.fb-like.fb_iframe_widget { width: 145px; }

/*********************************************************************************************************************/

.btn-ttest {
    background-color: #5D39ED;
    border-color: #5D39ED;
    color: #ffffff;
}

.btn-ttest:hover,
.btn-ttest:focus,
.btn-ttest:active,
.btn-ttest.active,
.open .dropdown-toggle.btn-ttest {
    background-color: #0D8CBA;
    border-color: #0D8CBA;
    color: #ffffff;
}

.btn-ttest:active,
.btn-ttest.active,
.open .dropdown-toggle.btn-ttest { background-image: none; }

.btn-ttest.disabled,
.btn-ttest[disabled],
fieldset[disabled] .btn-ttest,
.btn-ttest.disabled:hover,
.btn-ttest[disabled]:hover,
fieldset[disabled] .btn-ttest:hover,
.btn-ttest.disabled:focus,
.btn-ttest[disabled]:focus,
fieldset[disabled] .btn-ttest:focus,
.btn-ttest.disabled:active,
.btn-ttest[disabled]:active,
fieldset[disabled] .btn-ttest:active,
.btn-ttest.disabled.active,
.btn-ttest[disabled].active,
fieldset[disabled] .btn-ttest.active {
    background-color: #f0ad4e;
    border-color: #eea236;
}


.btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-color: #ed9c28;
    border-color: #d58512;
    color: #ffffff;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning { background-image: none; }

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #ffffff;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #d2322d;
    border-color: #d2322d;
    color: #ffffff;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger { background-image: none; }

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #ffffff;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #47a447;
    border-color: #398439;
    color: #ffffff;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success { background-image: none; }

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}


/*  ******************************************************************************************************************/

.btn-sample {
    background-color: #037DFF;
    border-color: #130269;
    color: #ffffff;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    background-color: #037DFF;
    border-color: #130269;
    color: #ffffff;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample { background-image: none; }

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
    background-color: #037DFF;
    border-color: #130269;
}

.btn-sample .badge {
    background-color: #ffffff;
    color: #037DFF;
}