/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

/*input, select, textarea { max-width: 280px; }*/

body { background-color: #f5f8fa; }

/*li { list-style-type: none; }*/
.btn.btn-hide {
    display: none;
}

/* ========== TAKE TEST ========== */

.answer {
    font-size: 25px;
    margin: 2px;
    padding: 2px;
}


.question {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}

.question-container {
  
    border: 10px;
    min-height: 300px;
    margin-left: 100px;
}

.question > img {
    margin: 0 auto;
    display: block;
}

.radiobutt {
    margin: 10px;
    padding: 10px;
}

.custom-standard-button { border: 5px double; }

.answerContainer { 
    padding: 5px 10px;
    padding-left: 20px;
    text-align: center;
}
.question input[type='radio'] { margin-right: 5px; }


.sec-title-huge {
    color: #333333;
    font-size: 30px;
    font-weight: 500;
}

.sec-title-large {
    color: #555555;
    text-align: center;
    font-weight: 500;
}

.sec-title-medium {
    color: #555555;
    font-size: 18px;
    margin-left: 5px;
}

.sec-title-small {
    color: #7e858c;
    font-size: 16px;
    margin-left: 10px;
}

.sec-title-italic { font-style: italic; }

.sec-hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

.quiz-status img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ========== GENERAL ========== */

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

#myCarousel {
    margin-top: -20px;
}

body > .container {
    margin-bottom: 100px;
}

footer {
    background-color: #222222;
    bottom: 0;
    color: white;
    font-weight: bold;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 1000;
}

div.fb-like.fb_iframe_widget { width: 145px; }

/*********************************************************************************************************************/

.btn-ttest {
    background-color: #5D39ED;
    border-color: #5D39ED;
    color: #ffffff;
}

.btn-ttest:hover,
.btn-ttest:focus,
.btn-ttest:active,
.btn-ttest.active,
.open .dropdown-toggle.btn-ttest {
    background-color: #0D8CBA;
    border-color: #0D8CBA;
    color: #ffffff;
}

.btn-ttest:active,
.btn-ttest.active,
.open .dropdown-toggle.btn-ttest { background-image: none; }

.btn-ttest.disabled,
.btn-ttest[disabled],
fieldset[disabled] .btn-ttest,
.btn-ttest.disabled:hover,
.btn-ttest[disabled]:hover,
fieldset[disabled] .btn-ttest:hover,
.btn-ttest.disabled:focus,
.btn-ttest[disabled]:focus,
fieldset[disabled] .btn-ttest:focus,
.btn-ttest.disabled:active,
.btn-ttest[disabled]:active,
fieldset[disabled] .btn-ttest:active,
.btn-ttest.disabled.active,
.btn-ttest[disabled].active,
fieldset[disabled] .btn-ttest.active {
    background-color: #f0ad4e;
    border-color: #eea236;
}


.btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-color: #ed9c28;
    border-color: #d58512;
    color: #ffffff;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning { background-image: none; }

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #ffffff;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #d2322d;
    border-color: #d2322d;
    color: #ffffff;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger { background-image: none; }

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #ffffff;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #47a447;
    border-color: #398439;
    color: #ffffff;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success { background-image: none; }

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}


/*  ******************************************************************************************************************/

.btn-sample {
    background-color: #037DFF;
    border-color: #130269;
    color: #ffffff;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    background-color: #037DFF;
    border-color: #130269;
    color: #ffffff;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample { background-image: none; }

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
    background-color: #037DFF;
    border-color: #130269;
}

.btn-sample .badge {
    background-color: #ffffff;
    color: #037DFF;
}

.navbar-inverse .navbar-brand, 
ul.nav.navbar-nav li {
    font-size: 18px;
}
ul, menu, dir {
    list-style:none;
}
/*  
.buttons {
    display: block;
}
    .btn.btn-hide {
    opacity: 0.65;
    cursor: not-allowed;    

}
    */
        

.section-header{
    margin-top: 40px;
    margin-bottom: 5px;
}

.section-hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;

}

/* btn-start */

.btn-start {
    background-color: #1F9437;
    border-color: #46b8da;
    color: #ffffff;
    font-family: 'Luckiest Guy';
    font-size: 40px;
    margin-top: 50px;

    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;

    max-width: 100%;
    overflow: hidden;
}

.btn-start:hover,
.btn-start:focus,
.btn-start:active,
.btn-start.active,
.open .dropdown-toggle.btn-start {
    background-color: steelblue;
    border-color: #269abc;
    color: #ffffff;
}

.btn-start:active,
.btn-start.active,
.open .dropdown-toggle.btn-start { background-image: none; }

.btn-start.disabled,
.btn-start[disabled],
fieldset[disabled] .btn-start,
.btn-start.disabled:hover,
.btn-start[disabled]:hover,
fieldset[disabled] .btn-start:hover,
.btn-start.disabled:focus,
.btn-start[disabled]:focus,
fieldset[disabled] .btn-start:focus,
.btn-start.disabled:active,
.btn-start[disabled]:active,
fieldset[disabled] .btn-start:active,
.btn-start.disabled.active,
.btn-start[disabled].active,
fieldset[disabled] .btn-start.active {
    background-color: #5bc0de;
    border-color: #46b8da;
}