.btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-info {
    background-color: #47DBB7;
    border-color: #32d7af;
    color: #fff;
}

.btn-info:focus, .btn-info.focus {
    background-color: #27c8a1;
    border-color: #16735c;
    color: #fff;
}

.btn-info:hover {
    background-color: #27c8a1;
    border-color: #21aa89;
    color: #fff;
}

.btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle {
    background-color: #27c8a1;
    border-color: #21aa89;
    color: #fff;
}

.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus,
.open > .btn-info.dropdown-toggle:hover,
.open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle.focus {
    background-color: #21aa89;
    border-color: #16735c;
    color: #fff;
}

.btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle { background-image: none; }

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #47DBB7;
    border-color: #32d7af;
}

.btn-info .badge {
    background-color: #fff;
    color: #47DBB7;
}

.form-control {
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-box-shadow: inset 0 1px 1px #000000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px #000000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #888d8a;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px #000000, 0 0 8px #7693a0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(118, 147, 160, 0.6);
    border-color: #7693a0;
    box-shadow: inset 0 1px 1px #000000, 0 0 8px #7693a0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(118, 147, 160, 0.6);
    outline: 0;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder { color: #999; }

.form-control::-webkit-input-placeholder { color: #999; }

.form-control[disabled], .form-control[readonly],
fieldset[disabled] .form-control {
    background-color: white;
    opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control { cursor: not-allowed; }

.btn-start {
    background-color: #1F9437;
    border-color: #46b8da;
    color: #ffffff;
    font-size: 40px;
    margin-top: 20px;
    max-width: 100%;

    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;

    padding-top: 20px;
    text-transform: uppercase;
}

.btn-start:hover,
.btn-start:focus,
.btn-start:active,
.btn-start.active,
.open .dropdown-toggle.btn-start {
    background-color: steelblue;
    border-color: #269abc;
    color: #ffffff;
}

.btn-start:active,
.btn-start.active,
.open .dropdown-toggle.btn-start { background-image: none; }

.btn-start.disabled,
.btn-start[disabled],
fieldset[disabled] .btn-start,
.btn-start.disabled:hover,
.btn-start[disabled]:hover,
fieldset[disabled] .btn-start:hover,
.btn-start.disabled:focus,
.btn-start[disabled]:focus,
fieldset[disabled] .btn-start:focus,
.btn-start.disabled:active,
.btn-start[disabled]:active,
fieldset[disabled] .btn-start:active,
.btn-start.disabled.active,
.btn-start[disabled].active,
fieldset[disabled] .btn-start.active {
    background-color: #5bc0de;
    border-color: #46b8da;
}

button, select { text-transform: none; }

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.hidden, .btn-hide { display: none; }

fieldset {
    border: 0;
    margin: 0;
    min-width: 0;
    padding: 0;
}

legend {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    color: #666a68;
    display: block;
    font-size: 21px;
    line-height: inherit;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

.pull-left { float: left; }

.pull-right { float: right; }

.clearfix:after {
    clear: both;
    content: " ";
    display: table;
    height: 1px;
    width: 0;
}

body {
    background-color: #f5f8fa;
    color: #666a68;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

.question-container:before {
    clear: both;
    content: " ";
    display: table;
    height: 1px;
    width: 0;
}

.text-danger { color: #f00; }

.text-center { text-align: center; }

.custom-standard-button { border: 5px double; }

.col-sm-offset-2, .col-sm-2 { padding: 0 15px; }

.col-md-6 { padding-top: 4px; }

.col-sm-2 {
    font-weight: bold;
    padding-top: 12px;
}

.form-group > .col-md-6,
.form-group > .col-sm-2,
.form-group > .col-sm-10 { float: left; }

.form-group:after {
    clear: both;
    display: table;
    height: 0;
    width: 1px;
}

.sec-title-large {
    color: #555555;
    font-weight: 500;
    text-align: center;
}

ul { list-style-type: none; }

input[type=radio] { margin-right: 5px; }

.question > img {
    display: block;
    margin: 0 auto;
}