@using CEAE.Utils
@{
    ViewBag.Title = "ManageAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManageAccount</h2>

<table>
    <tr>
        <td>Edit Account properties</td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Users",
                new {id = Session[Constants.Session.UserId] != null ? Session[Constants.Session.UserId].ToString() : ""},
                new {id = "logoffLink"})
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Change Password", "ResetPassword", "Account",
                null,
                new {id = "logoffLink"})
        </td>
    </tr>
</table>