<head>
    <link href="@Url.Content("~/Content/Site.css")"
          rel="stylesheet" type="text/css"/>
</head>


@{
    ViewBag.Title = "TakeTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> AFLA CUM GANDESTI</h1>
<hr/>
<div class="question-container">


</div>

<div style="display: none;">
    <h2 class="quiz-status"></h2>

</div>


<div style="display: none;">
    <h4 class="mesaj-st"></h4>

</div>


<div>
    <button id="prev-button" type="button" class="btn btn-info" style="border: 5px double; display: none;">Previous Question</button>
    <button id="next-button" type="button" class="btn btn-info" style="border: 5px double; display: none;">Next Question</button>

    <button id="subm-button" type="button" class="btn btn-info" style="border: 5px double; display: none;">Submit</button>
    <button id="start-questionaire" type="button" class="btn btn-info" style="border: 5px double"> Begin Test</button>
</div>


<input type="hidden" name="email" id="email-input"/>
<span class="danger" id="email-validation"></span>
<button id="subm-email-button" type="button" class="btn btn-info" style="border: 5px double; display: none;">Submit Email</button>


<script src="~/Scripts/Home/home_questionaire.js"></script>