@using AuthenticationManager = CEAE.Managers.AuthenticationManager


@{
    ViewBag.Title = Translations.TakeTest;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//fonts.googleapis.com/css?family=Luckiest Guy" rel="stylesheet">

<div class="container">
    <h1>@Translations.TakeTest</h1>
    <hr/>
   
    @{
        ViewData["hasLayout"] = true;
    }
    @Html.Partial("_Test")


</div>

@section Scripts
{
    <script>
        (function() {
            window.isLoggedIn = @(AuthenticationManager.IsUserAuthenticated(Session) ? "true" : "false");
            window.registeredEmail = @(AuthenticationManager.UserEmail(Session) != null ? "true" : "false");
        })();
    </script>
    <script src="~/Scripts/Home/home_questionaire.js"></script>
}
