
@{
    ViewBag.Title = "TakeTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> AFLA CUM GANDESTI</h1>

<button id="next-button" type="button" class="btn btn-info" style="border:5px double; display:none;">Next Question</button>
<button id="prev-button" type="button" class="btn btn-info" style="border:5px double; display:none;">Previous Question</button>
<button id="subm-button" type="button" class="btn btn-info" style="border:5px double; display:none;">Submit</button>
<button id="start-questionaire" type="button" class="btn btn-info" style="border:5px double"> Begin Test</button>
</div>

<div class="question-container">

</div>


<script src="~/Scripts/Home/home_questionaire.js"></script>